
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #c70039, #ff5733, #ffbd69);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("xmas.jpg");
    opacity: 0.2;
}

@keyframes snowfall {
    0% { background-position: 0px 0px; }
    100% { background-position: 0px 1000px; }
}

.container {
    width: 70%;
    height: 430px;
    background: white;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.left {
    width: 50%;
    background: url("xmas6.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 8px black;
}

.left h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
}

.right {
    width: 50%;
    background: whitesmoke;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right h2 {
    color: darkred;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

form input {
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    outline: none;
    font-size: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px auto 15px;
}

.options a {
    font-size: 14px;
    color: darkred;
}


button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #ff5733, #d10000);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: linear-gradient(to right, #d10000, #ff1e1e);
    transform: scale(1.05);
}